@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Raleway;
}

.body {
    background-image: radial-gradient(#212121 20%, transparent 20%),
        radial-gradient(#fafafa 20%, transparent 20%);
    background-color: #f6faee;
    background-position: 0 0, 50px 50px;
    background-size: 5px 5px;
}

.header {
    background: linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
        linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
        linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
        linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
        linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
        linear-gradient(
            #1d1d1d 25%,
            #1a1a1a 25%,
            #1a1a1a 50%,
            transparent 50%,
            transparent 75%,
            #242424 75%,
            #242424
        );
    background-color: #131313;
    background-size: 20px 20px;
}
